#traffic-light {
    width: 200px;
    height: 200px;
    background-color: gray;
    border-radius: 50%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

#message-container {
    text-align: center;
    margin: 20px 0;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}