#traffic-light {
    width: 200px;
    height: 200px;
    background-color: gray;
    border-radius: 50%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: black;
    color: whitesmoke;
}

#message-container {
    text-align: center;
    margin: 20px 0;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#buttons button {
    font-size: 1.5rem;
    color: #fafafa;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #fafafa;
    background: #252525;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin: 35px 0;

}
#buttons button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}